.ant-layout {
  width: 100vw;
  height: 100vh;
}
.site__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
  margin: 5px 10px;
  background-color: rgb(255, 255, 255, .2);
}